--add.exact true
--install.frozen-lockfile true
--install.network-timeout 180000
--upgrade-interactive.latest true
yarn-offline-mirror ".yarn-offline-mirror"
yarn-offline-mirror-pruning true
# experimental-pack-script-packages-in-mirror true